:root {
  --color: rgb(66, 113, 152);
  --txtc: rgb(57, 91, 119);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px auto;
  text-align: center;
  color: var(--txtc);
}

body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.container-area {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
#sketch-area {
  display: flex;
  flex-wrap: wrap;
  /* margin: 100px auto; */
  background-color: white;
}

.cell {
  border: 1px solid whitesmoke;
}
.hover {
  background-color: var(--color);
}
/* input {
  width: 70px;
  border: none;
} */

footer {
  font-weight: lighter;
  text-align: center;
  margin: 30px auto 5px auto;
  font-size: 0.8em;
  color: var(--txtc);
}

input[type="text"] {
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2em solid var(--color);
  background: rgba(var(--color), 0.2);
  border-radius: 0.2em 0.2em 0 0;
  padding: 0.4em;
  color: var(--txtc);
}

button {
  cursor: pointer;
  appearance: none;
  border: 0.2em solid var(--color);
  background: hsl(0 0 0/0);
  padding: 0.85em 1.5em;
  color: var(--color);
  border-radius: 2em;
  transition: 1s;
  &:hover,
  &:focus,
  &:active {
    background: var(--color);
    color: #fff;
  }
}
